$main-color: rgb(47, 255, 252);

body {
  background-image:url('tech.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.container {
  text-shadow: black 0.04em 0.04em 0.05em;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  color: $main-color;
  display: inline-block;
}

.light-shadow {
  text-shadow: black 0.02em 0.02em 0.05em;
}

.major {
  color: $main-color;
}

.minor {
  color: darken($main-color, 15%);
}

.details {
  color: darken($main-color, 22%);
}

.icon {
  color: $main-color;
  padding: 1em;
  &:hover {
    color: darken($main-color, 30%);
  }
}

#text-box {
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}